[submodule "bin"]
	path = bin
	url = git@git.granjow.net:escape/fmod-api.git
[submodule "resources/fmod-api"]
	path = resources/fmod-api
	url = git@git.granjow.net:escape/fmod-api.git
[submodule "lib/cppzmq"]
	path = lib/cppzmq
	url = https://github.com/zeromq/cppzmq.git
